body {
  background-color: silver;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.website-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.website-header .navigation {
  width: 100vw;
}

.website-header .navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 100px) {
  .website-header {
    background-color: #6161ff;
    padding: 0 5vw;
  }
  .website-header .menu {
    margin: 20px 0 50px 5vw;
    font-size: 24px;
  }
  .website-header .menu .menu-item {
    padding-right: 20px;
  }
  .website-header .menu .categories-more {
    position: absolute;
    background-color: #6161ff;
    padding: 2px;
    z-index: 1;
  }
  .website-header .menu .hidden {
    display: none;
  }
  .website-header .search {
    width: 60%;
    height: 150px;
    margin: 0 auto;
  }
  .website-header .search .search-container {
    position: relative;
    margin-top: 5px;
  }
  .website-header .search .search-container .search-input {
    width: 94%;
    height: 60px;
    background-color: transparent;
    border: 1px solid black;
    border-right: 0;
    margin: 0;
    font-size: 35px;
    padding: 0 3%;
  }
  .website-header .search .search-container .search-button {
    position: absolute;
    top: 0;
    left: 100%;
    width: 10%;
    height: calc(100% - 2px);
    background-color: transparent;
    border: 1px solid black;
    border-left: 0;
  }
  .website-header .search .search-container .search-button:hover {
    cursor: pointer;
  }
  .website-header .search .label-search {
    font-size: 40px;
    font-weight: bold;
    color: blue;
    display: block;
    width: 100%;
  }
  .website-header .login {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 150px;
  }
  .website-header .login .input {
    display: block;
    margin-bottom: 10px;
  }
  .website-header .login .label {
    display: block;
    width: 100%;
  }
  .website-header .login .links .vertical-line {
    border: 1px solid white;
  }
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  padding-top: 40px;
}

.topics .topics-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: grey;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  padding: 8px 0;
}

.topics .topics-header .name-header {
  display: inline-block;
  text-align: left;
  width: 60%;
}

.topics .topics-header .post-header {
  display: inline-block;
  width: 19%;
}

.topics .topics-header .last-header {
  display: inline-block;
  width: 15%;
}

.topics .simple-topic {
  width: 100%;
  height: 65px;
  padding: 10px 5px;
}

.topics .simple-topic .name {
  display: inline-block;
  text-align: left;
  width: 60%;
  height: 65px;
}

.topics .simple-topic .name .inside-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topics .simple-topic .name .inside-name .topic {
  font-size: 18px;
  width: 100%;
  color: #6464f0;
}

.topics .simple-topic .name .inside-name .author {
  font-size: 14px;
  padding: 2px 0;
}

.topics .simple-topic .post-count {
  display: inline-block;
  width: 20%;
  height: 65px;
}

.topics .simple-topic .last-post {
  display: inline-block;
  width: 15%;
  height: 65px;
}

.topics .simple-topic .last-post .inside-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topics .simple-topic .last-post .inside-last .when {
  font-size: 18px;
  width: 100%;
}

.topics .simple-topic .last-post .inside-last .author {
  font-size: 12px;
}

.topics .post-link {
  color: black;
}

.topics .post-link:nth-child(even) {
  background-color: #cec9c9;
}

.topics .post-link:nth-child(even):hover,
.topics .post-link:hover {
  background-color: #afaeae;
}
/*# sourceMappingURL=style.css.map */