.website-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .navigation {
        width: 100%;

        .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }
}

@media (min-width: 100px) {
    .website-header {
        background-color: $my-background-color;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;

        .menu {
            margin: 20px 0 50px 5vw;
            font-size: 24px;

            .menu-item {
                padding-right: 20px;
            }

            .categories-more {
                position: absolute;
                background-color: $my-background-color;
                padding: 4px;
                z-index: 1;
                border: 1px solid darken($color: $my-background-color, $amount: 20);
            }

            .hidden {
                display: none;
            }
        }

        .search {
            width: 60%;
            height: 150px;
            margin: 0 auto;

            .search-container {
                position: relative;
                margin-top: 5px;

                .search-input {
                    width: 94%;
                    height: 60px;
                    background-color: transparent;
                    border: 1px solid black;
                    border-right: 0;
                    margin: 0;
                    font-size: 35px;
                    padding: 0 3% 0 2%;
                    z-index: 1;
                }

                .search-button {
                    position: absolute;
                    top: 0;
                    left: 99%;
                    width: 10%;
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid black;
                    border-left: 0;
                    font-size: 20px;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .text-inside {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 2%;
                    font-size: 35px;
                    color: darken($color: $my-background-color, $amount: 20);
                    letter-spacing: 2px;
                    z-index: 0;
                }

            }
        }

        .login {
            width: 40%;
            ;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 150px;

            .input {
                display: block;
                margin-bottom: 10px;
            }

            .label {
                display: block;
                width: 100%;
            }

            .links {

                .vertical-line {
                    border: 1px solid white;
                }
            }
        }
    }
}