.topics{
    display:flex;
    flex-direction: column;
    width:90vw;
    margin:0 auto;
    .topics-header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-size:22px;
        font-weight: bold;
        height:40px;
        .name-header{
            text-align: left;
            border:3px solid red;
            flex-grow: 5;
        }
        .post-header{
            flex-grow: 1;
            border:3px solid red;
        }
        .last-header{
            flex-grow:2;
            border:3px solid red;
        }
    }
    .simple-topic{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        height:45px;
        .name{
            text-align: left;
            border:3px solid red;
            flex-grow: 5;
            .topic{
                font-size:18px;
            }
        }
        .post-count{
            flex-grow: 1;
            border:3px solid red;
        }
        .last-post{
            flex-grow:2;
            border:3px solid red;
        }
    }
}

@media (min-width: 1200px){
    

}